.App {
  margin: 0 10% 0 10%;
}

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid #282c34 1px;
}

.ScrollDown {
  position: absolute;
  text-align: center;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 5%;
  }
  50% {
    bottom: 4%;
  }
}

.Section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #282c34 1px;
}

.BackToTop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #ffaec0;
  opacity: 0.5;
  border-radius: 50%;
}
