::-webkit-scrollbar {
  display: none;
}

.App {
  scrollbar-width: none;
  background-color: #F2E5E5;
}

.AppBar {
  z-index: 1;
}

.Tab {
  color: #E8C4C4;
}

.HomeMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2B3A55;
}

.HomeMainContainer {
  text-align: center;
}

.DateTime {
  text-align: center;
}

.Weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScrollDown {
  position: absolute;
  text-align: center;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 5%;
  }
  50% {
    bottom: 4%;
  }
}

.Section {
  height: 80vh;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackToTop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #CE7777;
  opacity: 0.8;
  border-radius: 50%;
}

.Footer {
  height: 20vh;
  padding: 0 10vw;
  color: #E8C4C4;
  background-color: #2B3A55;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.GithubText {
  display: flex;
  align-items: center;
}

.GithubLink {
  color: #E8C4C4;
}